In [1]:
#Revision_CL7: pending (it was a revision of all the class tasks)

In [2]:
def sm_2(a,b):
    """This fn will create a sum of two variables"""   #even single quotes work here #defining a docstring
    return a + b

In [3]:
sm_2(4,6)

10

In [4]:
sm_2("karan","manchanda")

'karanmanchanda'

In [5]:
sm_2(a=10,b=20)

30

In [6]:
sm_2(b=10,a=20)

30

In [7]:
def func0(a,b,c,d,e):
    '''test of 5 varibles'''
    return a,b,c,d,e

In [8]:
func0(3,4,5,6,1)   #expects five variable, less or more won't work in this case

(3, 4, 5, 6, 1)

# How to remove the limitation?

In [9]:
def func1(*a):   #a function which can take n number of arguments
    return a

In [10]:
func1(3,4)

(3, 4)

In [11]:
func1(1,3,4,2,1)

(1, 3, 4, 2, 1)

In [12]:
func1(1,3,1,3,[3,3,3])

(1, 3, 1, 3, [3, 3, 3])

In [13]:
func1(1,2,3,2,13,1,[13,2,1],(1,3,32,2))

(1, 2, 3, 2, 13, 1, [13, 2, 1], (1, 3, 32, 2))

In [14]:
def func2(*args):   #args is not a reserved keyword
    return args

In [15]:
func2(3,2,3,21,3,2,23,3233,222)

(3, 2, 3, 21, 3, 2, 23, 3233, 222)

In [16]:
def lst(*a):
    '''return the arguments as a list'''
    l = []
    for i in a:
        l.append(i)
    return l

In [17]:
lst(3,2,2,2,32,2,3,2,2,[3,3,32,13,13,3])

[3, 2, 2, 2, 32, 2, 3, 2, 2, [3, 3, 32, 13, 13, 3]]

In [18]:
lst(2,34,2,2)

[2, 34, 2, 2]

In [19]:
# Case 1   #It works
def func3(a,b,c,d, *m):   #first four entries are considered for the normal variables and rest are passed for m
    return a,b,c,d,m

In [20]:
func3(3,4,5,4,4,3,22,2,22,22,2)

(3, 4, 5, 4, (4, 3, 22, 2, 22, 22, 2))

In [21]:
# Case 2   #It doesn't work
def func4(*m, a,b,c,d,e):  
    return m,a,b,c,d,e   #gives all arguments to m and the remaining variables still expecting a value

In [22]:
func4(2,2,4,3,32,2,2,2,2,23,23,a=1,b=2,c=19,d=12,e=323)   #This is how it works

((2, 2, 4, 3, 32, 2, 2, 2, 2, 23, 23), 1, 2, 19, 12, 323)

In [23]:
#Case 3: Need to pass key-value pair
def kward(**kwargs):   #for n number of key-values arguments
    return kwargs

In [24]:
d = kward(b=3,c=5,d=2,e=2)   #Kind of arguments it expects

In [25]:
type(d)

dict

In [26]:
def func4(*m, **s):
    return m,s   #categorize automatically if key-value pair, it is defined as a dict & the remaining goes inside tuple

In [27]:
func4(1,23,43,2,43,32,2,a=1,b=2,c=5)

((1, 23, 43, 2, 43, 32, 2), {'a': 1, 'b': 2, 'c': 5})

In [28]:
def summ(*m):
    sum = 0
    for i in m:
        if type(i) == int:
             sum = sum + i
    return sum

In [29]:
summ(1,3,3,2)

9

In [30]:
summ(2,13,23,2312,32,3,22,32,32,2)

2473

In [31]:
def mul(*m):
    mul = 1
    for i in m:
        if type(i) == int:
             mul = mul * i
    return mul

In [32]:
mul(1,3,32,1)

96

In [33]:
mul(2,10)

20

# Annonymous or Inline or lambda function (Imp)

In [34]:
n = lambda a,b : a+b   #n: function; immediately after lambda a,b represents arguments and after :, returned value

In [35]:
n(4,5)

9

In [36]:
def alt(a,b):
    return a+b

In [37]:
alt(4,5)

9

In [38]:
n1 = lambda k,i : k-i   #avoid for complex logics as it will become very clumpsy

In [39]:
n1(10,7)

3

In [40]:
n2 = lambda *m : m

In [41]:
n2(1,3,32,2)

(1, 3, 32, 2)

In [42]:
n2(1,31,3,32,2)

(1, 31, 3, 32, 2)

In [43]:
n3 = lambda **kwargs: kwargs

In [44]:
n3(a=10,b=12,c=10,d="aadhaar",e=[1,3,2])

{'a': 10, 'b': 12, 'c': 10, 'd': 'aadhaar', 'e': [1, 3, 2]}

# Comphrension operation

In [45]:
t = (4,4,5,3,2,24,4,5,5,2,5,5,53,67)
l = []
for i in t:
    l.append(i)

In [46]:
l

[4, 4, 5, 3, 2, 24, 4, 5, 5, 2, 5, 5, 53, 67]

In [47]:
[i for i in t]

[4, 4, 5, 3, 2, 24, 4, 5, 5, 2, 5, 5, 53, 67]

format: inside a list bracket, write for loop statement like before. Then, put the value to be returned at the beginning

In [48]:
[i*i for i in t]

[16, 16, 25, 9, 4, 576, 16, 25, 25, 4, 25, 25, 2809, 4489]

In [49]:
s = "karan"
[i for i in s]

['k', 'a', 'r', 'a', 'n']

In [50]:
[i*i for i in range(1,11)]   #Square of numbers from 1 to 10

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
l = lambda *x : [i for i in x]

In [52]:
l(3,4,21,4,2,4,2,5)

[3, 4, 21, 4, 2, 4, 2, 5]

In [53]:
sqr = lambda *x : [i**2 for i in x]

In [54]:
sqr(1,3,3,23,2,2,2,2,8,2,113,3131)

[1, 9, 9, 529, 4, 4, 4, 4, 64, 4, 12769, 9803161]

In [55]:
#Good learning example on dictionary
def fnd_str_count(**kwargs):
    count = 0
    for v in kwargs.values():
        if type(v) == str:
            count += 1
        elif type(v) == list:
            for k in v:
                if type(k) == str:
                    count += 1
    return count

In [56]:
fnd_str_count(a=7,b="karan",c=345,d="karan",l=[2,3,4,45,"karan"])

3

In [57]:
def get_list(**kwargs):
    l0 = []
    for u,v in kwargs.items():
        l0.append(u)
        l0.append(v)
    return l0

In [58]:
get_list(a=7,b="karan",c=345,d="karan",l=[2,3,4,45,"karan"])

['a', 7, 'b', 'karan', 'c', 345, 'd', 'karan', 'l', [2, 3, 4, 45, 'karan']]

In [59]:
#Good learning example on dictionary #Alternate approach
def get_list(**kwargs):
    return list(kwargs.values())

In [60]:
get_list(a=7,b="karan",c=345,d="karan",l=[2,3,4,45,"karan"])

[7, 'karan', 345, 'karan', [2, 3, 4, 45, 'karan']]

In [61]:
def get_list(**kwargs):
    return list(kwargs.items())

In [62]:
l1 = get_list(a=7,b="karan",c=345,d="karan",l=[2,3,4,45,"karan"])

In [63]:
len(l1)

5

In [64]:
l1[0]

('a', 7)

In [65]:
type(l1[0])

tuple