In [1]:
l = [1,2,3,4,"karan","manchanda",56.28]

In [7]:
for i in l :   #i is a local variable here
    print(i)

1
2
3
4
karan
manchanda
56.28

In [8]:
for i in l:   #Indentation is very important
    pass

In [11]:
s = "karan"
for i in s:
    print(i)

k
a
r
a
n

In [12]:
t = tuple(l)

In [13]:
t

(1, 2, 3, 4, 'karan', 'manchanda', 56.28)

In [14]:
for i in t:
    print(i)

1
2
3
4
karan
manchanda
56.28

In [17]:
#for-else loop   #Important Concept
for i in l:
    print(i)
else :
    print("if for loop is going to complete itself then only it will execute the else loop")

1
2
3
4
karan
manchanda
56.28
if for loop is going to complete itself then only it will execute the else loop

In [18]:
for i in l:
    if i == 4:
        break   #reserved keyword in Python. It is going to break the entire loop and gets you out of the entire loop. It will not come inside the else block
    print(i)
else:
    print("this will execute only if the for loop will get executed completely")

1
2
3

In [26]:
s = "sudhanshu"
for i in s:
    if i == 'z':
        break
    print(i)
else:
    print("print the entire string which is:",s)

s
u
d
h
a
n
s
h
u
print the entire string which is: sudhanshu

In [28]:
for i in t:
    print(i)

1
2
3
4
karan
manchanda
56.28

In [34]:
s8 = {3,232,32,23,23,23,2,2,2,2,2,2,2,3,3,3,4,4,2,2,"karan"}

In [35]:
for i in s8:
    print(i)

32
2
3
4
karan
23
232

In [73]:
d = {'k1':'v1','k2':'v2','k3':'v3','k4':[1,23,23,22]}

In [41]:
for i in d:
    if i == 'k1':
        print(i)

k1

In [44]:
for i in d:
    print(i,":", d[i])

k1 : v1
k2 : v2
k3 : v3
k4 : [1, 23, 23, 22]

karan
karan   karan
karan   karan   karan
karan   karan   karan   karan

In [50]:
#Range function

In [52]:
range(9)   #Generator #Just printed an object

range(0, 9)

In [53]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [60]:
list(range(9))   #producing the dataset using a list

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [56]:
range(0,9)

range(0, 9)

In [57]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [59]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [61]:
list(range(0,9,-1))

[]

In [2]:
n = 4
for rows in range(n):
    for columns in range(rows+1):
        print("karan",end=" ")
    print()

karan
karan karan
karan karan karan
karan karan karan karan

        sudh
    sudh    sudh
sudh    sudh    sudh

In [142]:
n = 4
for rows in range(n):
    for columns in range(4-rows):
        print("karan",end=" ")
    print()

karan karan karan karan
karan karan karan
karan karan
karan

In [143]:
n = 4
for rows in range(n):
    print(rows)

0
1
2
3

In [172]:
n = int(input("Enter the maximum no. of stars needed in a row:"))
for rows in range(2*n-1):
    if rows < n:
        for columns in range(rows+1):
            print("*",end=" ")
    else:
        for columns in range(2*n-1-rows):
            print("*",end=" ")
    print()

Enter the maximum no. of stars needed in a row:6
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [237]:
n = 3
for rows in range(n):
    for spaces in range(2-rows):
        print("\t",end="")
    for columns in range(rows+1):
        print("himmi\t",end="\t")
    print()

		himmi
	himmi		himmi
himmi		himmi		himmi

In [19]:
#Good logic to print spaces
n = 3
for rows in range(n):
    for spaces in range(2-rows):
        print(" "*len("karan"),end=" ")
    for columns in range(rows+1):
        print("karan"," "*len("karan"),end=" ")
    print()

            karan
      karan       karan
karan       karan       karan

In [31]:
#Understanding print function in detail (also includes an application of len function in a creative way)
print("karan"," "*len("karan"),"karan",end=" ",sep="#")
print("x")

karan#     #karan x

In [33]:
t = (3,23,45,67,2,4,5,6)

In [34]:
for i in t:
    print(i)

3
23
45
67
2
4
5
6

In [35]:
len(t)

8

In [40]:
t

(3, 23, 45, 67, 2, 4, 5, 6)

In [93]:
#Good learning example
for i in range(len(t)):
    print("at index [",i,"] value is:",t[i])

at index [ 0 ] value is: 3
at index [ 1 ] value is: 23
at index [ 2 ] value is: 45
at index [ 3 ] value is: 67
at index [ 4 ] value is: 2
at index [ 5 ] value is: 4
at index [ 6 ] value is: 5
at index [ 7 ] value is: 6

In [50]:
s = "ineuron"
for i in range(len(s)):
    print("at index [",i,"] value is:",s[i])

at index [ 0 ] value is: i
at index [ 1 ] value is: n
at index [ 2 ] value is: e
at index [ 3 ] value is: u
at index [ 4 ] value is: r
at index [ 5 ] value is: o
at index [ 6 ] value is: n

In [51]:
s[6]

'n'

In [52]:
s[5]

'o'

In [54]:
k = range(9,0,-1)

In [68]:
list(k)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [57]:
for i in k:
    print(i)

9
8
7
6
5
4
3
2
1

In [92]:
#Good learning example
for i in range(len(s)-1,-1,-1):
    print("at index [",i,"] value is:",s[i])

at index [ 6 ] value is: n
at index [ 5 ] value is: o
at index [ 4 ] value is: r
at index [ 3 ] value is: u
at index [ 2 ] value is: e
at index [ 1 ] value is: n
at index [ 0 ] value is: i

In [67]:
list(range(9,-1,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [74]:
d

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3', 'k4': [1, 23, 23, 22]}

In [79]:
#Good learning example
for i in d.items():
    print(i,type(i),type(i[1]))

('k1', 'v1') <class 'tuple'> <class 'str'>
('k2', 'v2') <class 'tuple'> <class 'str'>
('k3', 'v3') <class 'tuple'> <class 'str'>
('k4', [1, 23, 23, 22]) <class 'tuple'> <class 'list'>

In [83]:
l = ["karan","manchanda",232242222,"karanmanchanda90@gmail.com",2346,291292]

In [85]:
li = []
for i in l:
    if type(i) == int:
        li.append(i)
print(li)

[232242222, 2346, 291292]

In [87]:
d = {1:33527272,"name":"karan","email_id":"karanmanchanda90@gmail.com",172732:"dsdjsjd","22":"dsdsd",172732:"3454"}

In [88]:
d

{1: 33527272,
 'name': 'karan',
 'email_id': 'karanmanchanda90@gmail.com',
 172732: '3454',
 '22': 'dsdsd'}

In [91]:
for i in d:
    if type(i)==int:
        print(i,":",d[i])

1 : 33527272
172732 : 3454

In [97]:
s0 = "aaaabbccd"
s0.count('d')

1

In [119]:
count_a = 0
count_b = 0
count_c = 0
count_d = 0
for i in s0:
    if i == "a":
        count_a = count_a+1
    elif i == "b":
        count_b = count_b+1
    elif i == "c":
        count_c = count_c+1
    else :
        count_d = count_d+1
print("count of a: ",count_a,"\n","count of b: ",count_b,"\n","count of c: ",count_c,"\n","count of d: ",count_d,sep="")

count of a: 4
count of b: 2
count of c: 2
count of d: 1

In [117]:
s8 = set(s0)

In [118]:
s8

{'a', 'b', 'c', 'd'}

In [120]:
s0

'aaaabbccd'

In [134]:
#Good learning example #Alternate to the above program
for i in set(s0):
    print(i,":",s0.count(i))

a : 4
c : 2
b : 2
d : 1

In [125]:
i = 34534654646435

In [133]:
#Good learning example
for j in str(i):
    print(int(j),type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [156]:
t1 = ("karan","manchanda",[1,2,3,4,5],(3,4,5,6),{3:3,"key2":"manchanda"})

In [152]:
t1

('karan',
 'manchanda',
 [1, 2, 3, 4, 5],
 (3, 4, 5, 6),
 {3: 'karan', 'key2': 'manchanda'})

In [148]:
#Good learning example (self)
for i in t1:
    #print(i)
    if type(i) == list or type(i) == tuple:
        if 3 in i:
            #print(i.index(3))
            print(i[i.index(3)])

3
3

In [163]:
#Good learning example (self)
for i in t1:
    #print(i)
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k in i:
            if k == 3:
                print(k)
            if i[k] ==3:
                print(i[k])

3
3
3
3

In [162]:
#Good learning example (alternate)
for i in t1:
    #print(i)
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v==3:
                print(k)
                print(v)

3
3
3
3

In [167]:
d = {4:5,"key1":"sudh","key2":"kumar"}

In [169]:
for i in d.items():
    print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')

In [171]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [172]:
len(d.items())

3

In [182]:
#Good learning example
for i,j in d.items():
    print(i,j,type(i),type(k))

4 5 <class 'int'> <class 'str'>
key1 sudh <class 'str'> <class 'str'>
key2 kumar <class 'str'> <class 'str'>

In [176]:
#3 types of variable declaration
a = 10
b = 20
c = 30

In [174]:
a,b,c = 10,20,30

In [175]:
a,b,c = (10,20,30)

In [179]:
a

10

In [180]:
b

20

In [181]:
c

30